body {
    margin: 0 auto;
    min-width: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1000px

}

/* Style the header */
.header {
    background-color: rgb(0, 140, 255);
    padding: 20px 40px;
    color: white;
    text-align: center;
    width: auto;
}

    /* Clear floats after the header */
    .header:after {
        content: "";
        display: table;
        clear: both;
    }

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

    /* Style the list items */
    ul li {
        cursor: pointer;
        position: relative;
        padding: 22px 10px 22px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
    }

        /* Set all odd list items to a different color (zebra-stripes) */
        ul li:nth-child(odd) {
            background: #f9f9f9;
        }

        /* Darker background-color on hover */
        ul li:hover {
            background: #ddd;
        }

        /* When clicked on, add a background color and strike out text */
        ul li.checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;
            background-color: green;
        }

            /* Add a "checked" mark when clicked on */
            ul li.checked::before {
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                top: 10px;
                left: 16px;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
            }

/*Style the table*/
table{
    width: 100%;
    text-align: left;
    margin-left: 3%;
    color: #888;
    font-size: 20px;
}

/* Style the check box */
.checkBox {
    position: absolute;
    top: 10px;
    left: 16px;
    margin-left:600px;
    margin-top: 0;
    flex-wrap: wrap;
    width: 20px;
    background-color: blue;
}

/* Style the deadline */
.deadline {
    position: absolute;
    top: 20px;
    left: 16px;
    margin-left: 290px;
    margin-top: auto;
    width: 100px;

}
/* Style the deadline */
.overdue {
    position: absolute;
    top: 20px;
    left: 16px;
    margin-left: 290px;
    color:red;
    width: 100px;
}
.content{
    margin-left: 0%;
    margin-top: 0;
    flex-wrap: wrap;
    width: 250px;
}


/* Style the input */
input {
    margin-top: 20px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    width: 360px;
    height: 50px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the buttons in header */

.btnSelect {
    cursor: pointer;
    margin-top: 20px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    width: 100px;
    height: 30px;
    padding: 3px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    color:white;
    background-color: steelblue;
    border: 2px solid rgb(76, 111, 175);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btnSelect:hover {
    background-color: #bbb;
}

.btnDeleteSelected {
    cursor: pointer;
    margin-top: 20px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    width: 170px;
    height: 30px;
    padding: 3px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    color:white;
    background-color: steelblue;
    border: 2px solid rgb(76, 111, 175);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btnDeleteSelected:hover {
    background-color: #bbb;
}

.btnAdd {
    cursor: pointer;
    margin-top: 20px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    width: 170px;
    height: 50px;
    padding: 10px;
    float: left;
    font-size: 22px;
    font-weight: bold;
    color:white;
    background-color: steelblue;
    border: 2px solid rgb(76, 111, 175);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.btnAdd:hover {
    background-color: #bbb;
}

/* Style the buttons in list */
.deleteBtn{
    position: absolute;
    top: 20px;
    left: 16px;
    margin-left: 770px;
    flex-wrap: wrap;
    width: 100px;
    height: 30px;
    background-color: steelblue;
    font-weight: bold;
    color:white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 12px;
    border: 2px solid rgb(76, 111, 175);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.deleteBtn:hover {
    background-color: #bbb;
}