.countdown {
  background: linear-gradient(#a0b3c9, #c6d9f3);
  color: white;
  font-size: 1.8rem;
  padding: 25px;
}

.countdown__icons {
  cursor: pointer;
  display: none;
  float: right;
  font-size: 2rem;
}

.countdown:hover .countdown__icons {
  display: block;
}

.countdown:hover .overlay span {
  display: block;
}

.checked {
  text-decoration: line-through;
  color: green;
}
